body {
  margin: 0;
  font-family: 'FreightDisplayProBlack';
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
font-family: 'Moderat';
}
@font-face {
  font-family: 'FreightDisplayProBlack';
  src: url(./fonts/FreightDispProBook-Regular.ttf) format(truetype);
  font-weight: normal;
}
